{% load static %}

<!DOCTYPE html>
<html lang="ru">
  
<head>
  <meta charset="utf-8">
  <title>ремонт, Киев, забор, установка</title>
  <meta name="google-site-verification" content="eYbT7DLSU-mb8k2XCQXfIxl1d-g-xbl9tiWVT5C0G-M" />
  <meta name="keywords" content="ремонт, Киев, забор, установка">
  <meta name="description" content="ремонт, Киев, забор, установка">
  
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  <meta name="author" content="Dmytro Znak">


</head>

<body>
  
  <!-- <h1>{{one_tit}}</h1> -->
  <!-- <h1>Строительство заборов</h1> -->
  <h2>
    Заборы “под ключ”: высокое качество работ и материалов от «РКК»
  </h2>
  <p1>
    <!-- {{zaboru}} <br> -->
  </p1> 
  <p1>
    ремонт, Киев, забор, установка
    ремонт, Киев, забор, установка
    ремонт, Киев, забор, установка
    ремонт, Киев, забор, установка
    ремонт, Киев, забор, установка
    ремонт, Киев, забор, установка
    ремонт, Киев, забор, установка
  </p1>
  <figure> 
    <img src="{% static 'images/logo.jpg' %}" > 
  </figure> 
  <h1> ремонт, Киев, забор, установка
    ремонт, Киев, забор, установка ремонт, Киев, забор, установка
  </h1>
  <p1>
    Чтобы качественно и быстро поставить забор вокруг своего дома нужно всего несколько составляющих:
    Если необходимые стройматериалы можно заказать в любом магазине, то с оборудованием и навыками дело обстоит сложнее. Далеко не каждый сумеет оперативно создать надежное, функциональное ограждение. Можно потратить много усилий и времени в попытках сделать все своими руками, но не добиться желаемого результата, или вообще все испортить. Также большинство людей не имеет возможности возводить забор своими силами, поскольку значительную часть времени проводят на работе.

    Современные ограждения не только защищают двор от излишне любопытных взглядов и незваных посетителей. Часто они выполняют эстетическую и декоративную функцию. Существует множество вариантов дизайна и цветовых решений. Главное – выбрать именно то, которое будет гармонировать с остальными элементами обстановки двора, фасадом дома.
    
    Компания «РКК» выполняет строительство заборов в Киеве и Киевской области. Мы предоставляем услуги опытных специалистов и широкий ассортимент материалов. Определяйтесь с цветом, дизайном и техническими характеристиками будущего ограждения, которое может быть изготовлено из:
  </p1>

  <h1>
    Установка ограждений: этапы строительства и стоимость
  </h1>
  <p1>
    Установка заборов “под ключ” состоит из нескольких этапов:
    румонт заборов
  </p1>
  <h1>
    Забор
  </h1>
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>